@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
<h1 class="display-30">Área do Aluno</h1>
<div class="w-10 mt-50">
    <button type="button" class="btn btn-outline-primary">Notas e Faltas</button>
    <button type="button" class="btn btn-outline-danger">Secretaria Online</button>

</div>
</div>