@{
    ViewData["Title"] = "Home Page";
}
    <div class="text-center">
        <h1 class="display-30">Bem vindo, Aluno(a)!</h1>
        <div class="w-30 mt-5">
            <div class="mb-3">
                <input type="text" class="form-control smaller-input d-inline-block" placeholder="Matrícula"> 
            </div>
            <div class="mb-3">
                <input type="text" class="form-control smaller-input d-inline-block" placeholder="Senha">
            </div>
            <button type="button" class="btn btn-outline-primary btn-block">Login</button> 
        </div>
    </div>
</div>

<style>
    .smaller-input {
        width: 150px;
    }
</style>

